@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

@layer base {
  body {
    @apply font-[Racing];
  }
}
